.cart_product_show{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete_btn{
    cursor: pointer;
}

.cart_image_wrap> img{
    width: 56px;
    height: 56px;
    border: 1px solid #eee;
    object-fit: cover;
}

.image_and_name_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name_and_quantity_wrap> h4{
    font-size: 13px;
    color: #333;
    font-weight: 500;
}
.name_and_quantity_wrap> h6{
    color: #6c5ebc;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}