.manage_product_card_wrap {
    width: 300px;
    border: 1px solid #ddd;
    background-color: #eee;
    height: 130px;
}

.manage_product_card_image_wrap > img{
    width: 80px;
    height: 128px;
    object-fit: cover;
}
