.admin_manage_product_section{
    width: 90%;
    margin: 20px auto;
}

.admin_manage_product_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
}

.pagination_section {

    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}